@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

body {
    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.centered {
    text-align: center !important;
    vertical-align: middle !important;
}